[2018-12-08 09:12] ronaldtse opened #1 "Create AppVeyor job to create Choco package"
For @CAMOBAP795

[2018-12-08 09:12] ronaldtse opened #2 "Automate Choco package build and release"
The CHOCO_API_KEY is encrypted as this:

[code]

[2018-12-16 17:04] CAMOBAP795 commented on #1
@ronaldtse Done, last fixes done in scope of https://github.com/riboseinc/chocolatey-metanorma/pull/4

[2018-12-17 07:46] #2 closed

[2018-12-17 07:46] #1 closed

[2018-12-17 07:46] ronaldtse opened #5 "Chocolatey package release failed"

[2018-12-17 08:05] ronaldtse commented on #5
Failure message:

[code]

@CAMOBAP795 can you help fix? Thanks!

[2018-12-17 08:05] CAMOBAP795 commented on #5
@ronaldtse sure on it

[2018-12-17 09:48] CAMOBAP795 commented on #5
@ronaldtse Done https://ci.appveyor.com/project/ribose/chocolatey-metanorma/builds/21056429

[2018-12-20 08:20] #5 closed

[2018-12-20 08:21] ronaldtse opened #6 "Use Get-ToolsLocation instead of hard-coded path to Ruby"
From "gep13" a reviewer on Chocolatey:

@CAMOBAP795 can you please help fix this? Thanks!

Path: https://chocolatey.org/packages/metanorma/1.0.10

[2018-12-20 08:22] CAMOBAP795 commented on #6
@ronaldtse sure, it's good suggestion, I will have a look

[2018-12-20 14:18] CAMOBAP795 commented on #6
@ronaldtse done, can we retag to the same version, AFAIK our release wasn't approved so we can try to submit with the same version

[2018-12-20 14:18] ronaldtse commented on #6
Agree, can you go ahead? Thanks!

[2018-12-20 14:19] CAMOBAP795 commented on #6
@ronaldtse sure, I did small change after CI finished again I will do release

[2018-12-21 10:30] ronaldtse commented on #6
Confirmed. Thanks!!

[2018-12-21 10:30] #6 closed

[2019-01-03 18:34] ronaldtse opened #8 "Add AppVeyor badge"
https://ci.appveyor.com/api/projects/status/l0i1kvh7o5qfk3ws?svg=true

[2019-01-22 13:27] ronaldtse opened #11 "Error when installing via Chocolatey"
[code]

So the "gem.cmd" is not found?

[2019-01-22 13:31] ronaldtse commented on #11
I had to do this to work:

[code]

So `nokogiri` gem installation doesn't work with Ruby 2.6.0.

If I just manually install latest `nokogiri`, it works:
[code]

But even after install, `metanorma-cli` gem install failed because it is locked to `nokogiri` 1.8.5.

[code]

[2019-01-23 12:05] ronaldtse commented on #11
@CAMOBAP795 let me know if you can get this fixed soon. (and we also need to upgrade the gem) Thanks!

[2019-01-23 12:18] CAMOBAP795 commented on #11
Hmm strange because [we specified exact version of ruby to install]( https://github.com/riboseinc/chocolatey-metanorma/blob/master/metanorma.nuspec#L22)

Let me do research, why this restriction doesn't work

[2019-01-23 12:23] ronaldtse opened #12 "Update instructions: always use "cinst metanorma -y" to prevent keep prompting "Yes, No""
Always use "cinst metanorma -y" ("-y" is important!)

[2019-01-23 12:52] ronaldtse commented on #12
Yes, and also explain. Thanks!

Is it only with `cinst metanorma -y` or also with `choco install metanorma` ?

[2019-01-23 12:54] CAMOBAP795 commented on #12
`cinst` is just "alias" for `choco install`, so for silent mode we need: `cinst metanorma -y` or `choco install metanorma -y`

[2019-01-23 12:59] CAMOBAP795 commented on #12
@ronaldtse I have added commit to https://github.com/riboseinc/chocolatey-metanorma/pull/13

[2019-01-23 14:24] CAMOBAP795 commented on #12
@ronaldtse done

[2019-01-23 14:24] #12 closed

[2019-01-23 14:40] CAMOBAP795 commented on #11
@ronaldtse v1.1.3 release done

[code]

[2019-01-23 14:58] ronaldtse commented on #11
Thank you! Hope approval happens soon.

[2019-01-25 19:56] CAMOBAP795 opened #14 "Release 1.1.3 moderator feedback fix"
- https://chocolatey.org/packages/metanorma/1.1.3

FYI @ronaldtse

[2019-01-25 20:08] CAMOBAP795 commented on #14
@ronaldtse I need your help:

 - could you please tell me name / Chocolatey username to fill `<owners>`
 - also we need to ask reviewer because `bugtrackerUrl` already points to issues tab of GitHub https://github.com/riboseinc/metanorma/issues

P.S. I have changed it to https://github.com/riboseinc/chocolatey-metanorma/issues in #15 PR

[2019-01-25 21:32] ronaldtse commented on #14
I think chocolatey username is just “ribose”.
Email is “operations@ribose.com”.

[2019-01-28 06:17] ronaldtse commented on #14
@CAMOBAP795 the "DocsUrl" link is incorrect. It is now `https://metanorma.com//docs/getting-started/`. It should just be `https://www.metanorma.com/docs/`

[2019-01-28 06:20] ronaldtse commented on #14
Oh it's actually correct now. Thanks.

[2019-01-29 10:34] CAMOBAP795 commented on #14
Approved https://chocolatey.org/packages/metanorma/1.1.3

[2019-02-05 22:44] ronaldtse commented on #11
Notice in AppVeyor there are these lines:

[code]

This means that on AppVeyor the RubyInstaller MSYS/MINGW has been installed. On my local virtual machine, it has not.

[2019-02-06 05:58] CAMOBAP795 commented on #11
@ronaldtse may I ask you to attach full log `C:\ProgramData\chocolatey\logs\chocolatey.log`

[2019-02-06 13:10] ronaldtse commented on #11
Attached.
[chocolatey.log](https://github.com/riboseinc/chocolatey-metanorma/files/2836440/chocolatey.log)

[2019-02-06 13:11] ronaldtse commented on #11
In the Chocolatey formula we need to "depend" on MSYS2 / MINGW so that it installs automatically?

[2019-02-06 14:37] CAMOBAP795 commented on #11
@ronaldtse maybe, but in CI and chocolatey test script it works without any additional dependencies

Let me check logs first

[2019-02-15 11:04] CAMOBAP795 commented on #11
@ronaldtse On review https://chocolatey.org/packages/metanorma/1.1.4

[2019-02-15 23:43] ronaldtse opened #17 "Chocolatey automated package failure"
Current status = Waiting for Maintainer to take corrective action

chocolatey-ops left the following comment(s):

metanorma has failed automated testing.
This is not the only check that is performed so check the package page to ensure a 'Ready' status.
Please visit https://gist.github.com/5b4128876df6e776deabd92ed6ec2046 for details.
The package status will be changed and will be waiting on your n

[2019-02-15 23:43] ronaldtse commented on #17
The link to the failure is here: https://gist.github.com/choco-bot/5b4128876df6e776deabd92ed6ec2046

[2019-02-15 23:45] ronaldtse commented on #17
The failure notice says:

[code]

[2019-02-16 07:25] CAMOBAP795 commented on #17
@ronaldtse looks like temporally network issue I have retagged last commit to initiate `choco push` again

[2019-02-16 14:23] ronaldtse commented on #17
@CAMOBAP795 it has died again:

[code]

[2019-02-16 14:25] ronaldtse commented on #17
The network failure:

[code]

This network failure is real: https://sourceforge.net/projects/gnuwin32/files/coreutils/5.3.0/coreutils-5.3.0-bin.zip isn't loadable?

[2019-02-16 14:46] CAMOBAP795 commented on #17
I checked from browser there is delay (10-15 sec) but it works,

Let me try to do the same at night (EU night)

[2019-02-17 02:55] ronaldtse commented on #17
@CAMOBAP795 failed again:

[code]

[2019-02-17 06:29] ronaldtse commented on #17
@CAMOBAP795 maybe we can try again -- I can access the sourceforge link now.

[2019-02-17 06:47] CAMOBAP795 commented on #17
I propose to cleanup dependencies, like coreutils and git, because metanorma by itself not counting on them, and on appveyor we will install them by separate command

How do you think?

[2019-02-17 06:48] ronaldtse commented on #17
@CAMOBAP795 very good idea -- let's do that, and can you also help update Metanorma.com (via a PR to https://github.com/riboseinc/metanorma.com/) to reflect this installation step?

[2019-02-17 21:19] CAMOBAP795 commented on #17
@ronaldtse metanorma pushed to chocolatey, https://github.com/riboseinc/metanorma.com on the way

[2019-02-20 09:51] CAMOBAP795 commented on #17
@ronaldtse As I see it still wait for manual review, but package automation test passed so I think we can close this one

BTW maybe you got any email with review result (I don't see anything in https://chocolatey.org/packages/metanorma/1.1.4)

[2019-02-20 11:12] ronaldtse commented on #17
No email. Is there a way we can ping the moderator?

[2019-02-20 11:14] CAMOBAP795 commented on #17
@ronaldtse to be honest IDK, Is there some account for chocolatey? maybe there is possible to communicate?

[2019-02-20 11:14] ronaldtse commented on #17
I just posted a message there.

[2019-02-20 14:41] CAMOBAP795 commented on #17
Strange test failed, but looks like because of some internal reasons

https://gist.github.com/choco-bot/98979cf7dd5036bcafda2524d33b3ff1

[code]

I will retag to do release again

[2019-02-20 18:25] CAMOBAP795 commented on #17
Updated package was uploaded to review

[2019-02-20 19:12] ronaldtse commented on #17
Hope it all works now!

[2019-02-20 19:13] CAMOBAP795 commented on #17
- Automation validation passed
 - We are waiting for manual review again

[2019-02-21 17:42] CAMOBAP795 commented on #17
@ronaldtse maybe you can 'ping' reviewer again?

[2019-02-22 02:58] ronaldtse commented on #17
Pinged!

[2019-02-27 10:02] ronaldtse commented on #17
https://gist.github.com/choco-bot/f9e4bce4e833342d5bf99fbdfc58f670

It says:

[code]

Perhaps we should not lock graphviz.

[2019-02-27 10:03] ronaldtse commented on #17
And in fact, we should probably loosen the package dependencies. This list can easily cause ongoing maintenance nightmares:

[code]

[2019-02-27 10:18] CAMOBAP795 commented on #17
But we do, it's transitive dependency which comes from `plantuml`

If we make `plantuml` "as optional" we can rid of `plantuml`, `jre8`, `javaruntime`, `graphviz`, `chocolatey-core.extension`

I said "as optional" (with brackets) because technically there is no optional dependencies in chocoltey but we can do it as suggested here https://github.com/chocolatey/choco/wiki/CreatePackages#rules-to-be-

[2019-02-27 10:21] ronaldtse commented on #17
I don't think we can split it easily. Does this mean that `plantuml` cannot be installed now because the `graphviz` version dependency cannot be fulfilled?

[2019-02-27 10:23] CAMOBAP795 commented on #17
@ronaldtse to be honest I'm not sure that ` Unable to resolve dependency 'graphviz (= 2.38.0.1)'.` error is persistent.

We never experienced this error during run of our CI, and we have added `plantuml` long time ago.

Maybe we can get some details from validator about this?

[2019-02-28 05:32] ronaldtse commented on #17
And the package has failed automated validation again.

Now it’s “msys2” cannot be found.

https://gist.github.com/29fb4220f7e955b9b3043ff4fbd48219

[2019-02-28 06:00] CAMOBAP795 commented on #17
Now it's clearly network issue

BTW @ronaldtse maybe you can add me to metanorma team on chocolatey (if such exists), just to not bother you with copy-paste, and I will be able reply ASAP

[2019-03-07 07:47] opoudjis opened #19 "Migrate this repository to github.com/metanorma"
The repository github.com/metanorma has been set up to host all Metanorma related work. This is one such piece of work. While the migration will be slow (there is a lot to do, and a lot of interdependencies), we need to schedule migration for all related repositories.

Migration to Metanorma:

* Repost the repository to http://github.com/metanorma/X
  * This should be as simple as changing the fol

[2019-03-07 07:48] opoudjis commented on #19
@CAMOBAP795 This is for you, can't assign actions on this repo.

[2019-03-08 07:03] CAMOBAP795 commented on #19
@opoudjis ok, np

Nothing to do on this repo, except one thing @ronaldtse I noticed that we use `ribose` user on appveyor maybe this is ok IDK https://ci.appveyor.com/project/ribose just note

Also if this is ok, please update configuration on appveyor for `chocolatey-metanorma`

[2019-03-08 07:05] ronaldtse commented on #19
@CAMOBAP795 I already updated the "ribose" account on appveyor to use this repo, so it's all good.

[2019-03-08 07:05] #19 closed

[2019-03-09 13:14] ronaldtse commented on #17
@CAMOBAP795 yes let me add you to the chocolatey package. Can you give me your account handle at Chocolatey?

[2019-03-09 13:23] ronaldtse commented on #17
Done.

[2019-03-11 14:18] CAMOBAP795 commented on #17
@ronaldtse I just found that there is option to run test which chocolatey runs locally https://github.com/chocolatey/chocolatey-test-environment

I think it's make sense to add this to CI

@ronaldtse how do you think?

[2019-03-11 22:57] ronaldtse commented on #17
@CAMOBAP795 sure, but how do you run Chocolatey "locally" in a CI?

[2019-03-11 23:15] CAMOBAP795 commented on #17
@ronaldtse sorry for confusion, by 'locally' I mean outside chocolatey build server

[2019-03-12 01:44] ronaldtse commented on #17
Then you mean something like Gitlab?

[2019-03-12 06:57] CAMOBAP795 commented on #17
@ronaldtse I will just update appveyor configuration

[2019-03-12 08:18] ronaldtse commented on #17
@CAMOBAP795 it seems that Chocolatey testing can't finish on our package (over 52 minutes until it got truncated). Would splitting the package help? Or maybe not since there is still a lot to install?

[2019-03-14 11:49] CAMOBAP795 commented on #17
@ronaldtse FYI https://github.com/chocolatey/choco/issues/1756 reported to chocolatey, I will debug it locally with choco sources

[2019-03-14 19:48] CAMOBAP795 commented on #17
Original issue related to appveyor only https://github.com/Microsoft/azure-pipelines-image-generation/issues/742#issuecomment-472852611

[2019-03-14 19:54] CAMOBAP795 commented on #17
I'm working on set up of https://github.com/chocolatey/chocolatey-test-environment

[2019-03-14 21:08] CAMOBAP795 commented on #17
Unfortunately impossible to automate it

[code]

Let's wait for verification complete

[2019-03-17 12:26] CAMOBAP795 commented on #17
https://chocolatey.org/packages/metanorma/1.1.4 - appproved

@ronaldtse I think we can close this task

[2019-03-17 12:27] CAMOBAP795 commented on #11
@ronaldtse metanorma 1.1.4 ready to test, unfortunately I cannot test it right now my VM dead and I need to reinstall it

[2019-03-18 01:10] ronaldtse commented on #17
Closed!

[2019-03-18 01:10] #17 closed

[2019-04-03 12:10] CAMOBAP795 commented on #11
@ronaldtse works on my side (Windows 10), if you have chance to check it will be very helpful

[2019-04-04 16:32] CAMOBAP795 opened #23 "Remove all hacks related to ruby-xslt installation"
- https://github.com/metanorma/metanorma-build-scripts/issues/1

[2019-04-08 06:53] ronaldtse commented on #11
Closing this. We'll need an update to the package soon 😉

[2019-04-08 06:53] #11 closed

[2019-04-24 19:24] CAMOBAP795 commented on #23
Waiting for 1.1.7

[2019-05-03 18:17] CAMOBAP795 commented on #23
Done

[2019-05-03 18:17] #23 closed

[2019-05-06 20:41] ronaldtse opened #25 "URGENT: Metanorma depends on the Git command"
In `appveyor.yml` we specify the following packages to be installed.

`  - choco install -y git make gnuwin32-coreutils.portable sed`

Metanorma MUST DEPEND on these chocolatey packages. `git` in particular is used for Metanorma to download templates, it is a "hard" dependency now.

[2019-05-07 02:06] ronaldtse commented on #25
@CAMOBAP795 we need your help. Thanks.

[2019-05-07 04:06] CAMOBAP795 commented on #25
`make gnuwin32-coreutils.portable sed` used implicitly via `Makefile` in this case we need to add `grep` too because it recently was introduced in `Makefile` (and as result in `Makefile.win` too)

[2019-05-09 21:31] CAMOBAP795 commented on #25
@ronaldtse https://chocolatey.org/packages/metanorma/1.1.7 - released, let me know if anything else needs to be done in the scope of this ticket

[2019-05-15 13:33] CAMOBAP795 commented on #25
Done

[2019-05-15 13:33] #25 closed

[2019-05-30 00:16] ronaldtse opened #30 "(URGENT) Issue with Chocolatey metanorma installation needing manual install of gems"
A user has reported that after installing the latest Chocolatey package, he had to:

1. Manually install metanorma gems (https://www.metanorma.com/software/metanorma-cli/docs/installation/#installing-the-gems)

2. Manually install gem `tzinfo-data` to get rid of the https://github.com/tzinfo/tzinfo/wiki/Resolving-TZInfo::DataSourceNotFound-Errors

3. Was shown the following error:
[code]

Finally

[2019-05-30 07:09] CAMOBAP795 commented on #30
Let me check but we switched out `ruby-xslt` a couple of releases ago

AFAIK it needs only by `metanorma-nist` correct me if I'm wrong, and I have fixed it some time ago https://github.com/metanorma/metanorma-nist/commit/56776aee

Good point because currently on CI we test only `metanorma help` and `bundle exec metanorma ...` commands

Let me check all those points more preciselly

[2019-05-30 10:16] CAMOBAP795 commented on #30
@ronaldtse we need more details because I have tested steps on clean windows 10 installation and steps

[code]

Works, I have tested:
 - `metanorma help`
 - `metanorma new test -t csd -d advisory`

And it works perfectly

@ronaldtse can we request more details from a person who have troubles:
 - windows os version
 - installation log
 - which ruby version was available on this machine

[2019-05-30 11:21] ronaldtse commented on #30
This user was upgrading from Metanorma 1.17. Maybe there is an issue with upgrading?

[2019-05-30 11:27] CAMOBAP795 commented on #30
@ronaldtse thanks for note, I will check

[2019-05-31 14:11] CAMOBAP795 commented on #30
@ronaldtse I checked the upgrade scenario

[code]

Ruby will keep both `metanorma-cli@1.1.7` and `metanorma-cli@1.1.8` (let me know if this behavior need to be changed)

To continue investigation I need:
 - the exact metanorma command which leads to stack-trace above
 - the output of `gem list metanorma`
 - chocolatey upgrade log if it exists

[2019-05-31 18:04] ronaldtse commented on #30
The user is using Windows 10, with Ruby version: `ruby 2.5.3p105 (2018-10-18 revision 65156) [x64-mingw32]` (it was installed via RIDK/Chocolatey)

He ran:

[code]

Then, he tried metanorma:

[code]

but still got the same message as above. Same result, even after exiting and then opening a new shell.

Then he tried `bundle exec…`, but IMMEDIATELY got the following error:

[code]

Looks like HOME

[2019-05-31 23:18] CAMOBAP795 commented on #30
Those variables defined by OS, according to links above most relevant case can be this https://stackoverflow.com/a/39301638/902217

@ronaldtse may we request the client to run `set home` and send a response to use (we don't need exact names of user or machine so they can be replaced)

[2019-06-05 10:18] CAMOBAP795 opened #32 "Add `idnits` installation"
Let's wait for https://pypi.org/project/id2xml/ the release

Currently problem is https://github.com/metanorma/chocolatey-metanorma/pull/31#issuecomment-498837257

+ port bash bellow

export IDNITS_URL=https://tools.ietf.org/tools/idnits/
export IDNITS_VER=$(curl -Ls $IDNITS_URL | grep -e 'tgz' | sed -e 's/.*\(idnits-.*\).tgz.*/\1/') ; echo ${IDNITS_VER}
curl -SL ${IDNITS_URL}${IDNITS_VER} | tar x

[2019-06-09 01:42] ronaldtse commented on #30
The user doesn't seem to have this problem any more. We will investigate this again if someone comes up with it again.

[2019-06-09 01:42] #30 closed

[2019-06-12 07:06] jayvdb opened #33 "libxml2/libxslt package"
The voodoo in this package for using @geraldcombs's xsltproc to set up libxml2/libxslt to build against is awesome.

I think it would be very useful for it to become a separate package , or be included into the xsltproc package .  A quick-ish hack would be for the new package to include no files but merely post-process xsltproc, set envvars pointing to the correct include/lib location, and set/upd

[2019-06-12 07:41] ronaldtse commented on #33
@jayvdb Thank you for the comment! We are certainly open in hosting such a package. Amazed that you found our package. The `pkgconfig` bit is interesting as well.

@CAMOBAP795 do you have time to implement this? Thanks!

[2019-06-12 08:30] jayvdb commented on #33
I was googling for `chocolatey "xslt-config"` where this package and https://github.com/glejeune/ruby-xslt/issues/9#issuecomment-443025108 are leading results.

https://chocolatey.org/packages/libxml2 and https://chocolatey.org/packages/libxslt are both rejected packages, owned by @jakepetroules hosted at https://github.com/jakepetroules/chocolatey-packages .  That might also be a viable home if J

[2019-06-12 12:37] jayvdb commented on #33
fwiw if metanorma/ruby is using windows compilers under the covers, there is a choco package for vswhere , which looks like it might be useful for locating a working compiler; c.f. https://github.com/microsoft/vswhere/issues/187

[2019-06-12 13:46] CAMOBAP795 commented on #33
@jayvdb at this point `chocolatey-metanorma` don't use `xsltproc` package, and highly likelly will not use it in future

Just to be on the same page, what the issue `xsltproc` you experienced with? Missing `*-config` script or anything else?

We use mingw for native extension compilation

[2019-06-12 16:09] jayvdb commented on #33
I see it has been removed recently. https://github.com/metanorma/chocolatey-metanorma/commit/7ac4e88969f7f87828ed4cfec2413476c443914d#diff-3824e4119909511f5b298c2c4125ca1c

All the more reason for this trick to be saved so others can use it when necessary.

[2019-06-24 10:47] CAMOBAP795 commented on #32
I got an answer

[code]

[2019-06-25 02:43] ronaldtse commented on #32
OK, let's change back to previous behavior for now.

[2019-07-06 12:57] CAMOBAP795 commented on #33
@jayvdb sorry for the long silence, agree with you now I think about potential use cases. In our cases we use such workaround because `glejeune/ruby-xslt` wasn't initially designed for compiling and using on windows platform, in my opinion, it's a too specific task

If you see another potential use cases, please let me know

[2019-07-06 13:37] jayvdb commented on #33
@CAMOBAP795 , my use case is compiling python library @lxml , which needs to compile against libxml2 and libxslt . They do provide binary versions for some Windows releases, which is ok most of the time, but as an example they didnt build a wheel for Python 3.4 64 bit for version 3.8.0, which is the last version before v4 was released and often older software needs v3.* , but then blows up on 64 b

[2019-07-06 14:06] CAMOBAP795 commented on #33
@jayvdb, actually, we didn't have ported version of `*-config` (which originally implemented in bash AFAIK).

As you may see in https://github.com/metanorma/chocolatey-metanorma/commit/7ac4e88969f7f87828ed4cfec2413476c443914d#diff-3824e4119909511f5b298c2c4125ca1c we just creating minimal `libxslt-config` and  `xml2-config`

So we just need them to keep `rake` happy and pass all compiler input via

[2019-07-06 14:17] jayvdb commented on #33
The lack of -config doesnt hurt my use case.  lxml can be provided the cflags and libs it needs via environment variables.  It just looks for the -config as its first method of trying to obtain that information.  It still tries to build anyways, and I was able to get the compile happy so I am confident this approach also works for lxml.  Sorry I wasnt clear about that.  The only part I didnt get w

[2019-07-06 18:19] CAMOBAP795 commented on #33
@jayvdb hm, on my side (when worked with ruby gem) I faced only with library not found issue, could you please show an example of such problems?

[2019-07-07 04:12] jayvdb commented on #33
Hmm, I cant find those builds easy - searching through AppVeyor builds isnt simple.  I've done some rebuilds of the branch I believe was the 'latest'.

Seemingly successful using msys2 pacman's libs, but I didnt run a full test suite on it
https://ci.appveyor.com/project/jayvdb/coala-bears/build/job/ofkl5b0c7e4by1e7#L154

Successful link using a similar trick as your solution, but again I didnt ru

[2019-07-15 01:35] ronaldtse commented on #32
@CAMOBAP795 has this been fixed?

[2019-07-15 05:48] CAMOBAP795 commented on #32
@ronaldtse unfortunately we still blocked, I will watch out for this if it's releases, If this really critical, we may try to patch this python module during installation, should we?

[2019-07-15 07:50] ronaldtse commented on #32
The point is we can't wait for their `idnits` because they don't seem to have a release date. Can we specify an older version? Or use the manual downloaded version?

[2019-07-15 08:09] CAMOBAP795 commented on #32
@ronaldtse  I got your point, I think older version will not work due to the same problem we can try to get last available version from CVS system

[2019-07-21 11:41] CAMOBAP795 commented on #33
@jayvdb thanks, I think I understood the problem, I used a little bit different approach to solve the issue (it's more looks like a workaround) so looks like there is nothing to publish

I'm going to close this ticket

[2019-07-21 11:41] #33 closed

[2019-07-22 04:20] ronaldtse commented on #33
@jayvdb thanks for explaining where you came from. In our case it was merely a workaround but nothing long lasting...

[2019-10-02 04:43] ronaldtse opened #34 "Move to GitHub Actions"

[2019-10-19 10:32] anermina opened #35 "Installation of yq.exe not included"
yq.exe file is not automatically installed during Metanorma installation via Chocolatey package on Windows. Thus, make command fails with the following output:

PS D:\Upwork\mn-samples-itu-master> make -f Makefile.win SHELL=cmd
A subdirectory or file C:\Users\Nermina\.cache\xml2rfc already exists.
'yq' is not recognized as an internal or external command,
operable program or batch file.

[2019-10-19 10:46] CAMOBAP795 commented on #35
@ronaldtse I propose to create `yq` as a separate chocolatey package, make sense?

[2019-10-19 11:36] ronaldtse commented on #35
`yq` is not technically needed in Metanorma. It is only the `Makefile` that uses it; I don't think we should include that in the Chocolatey package.

[2019-10-19 11:37] CAMOBAP795 commented on #35
@ronaldtse but maybe make sense to wrap it in separate chocolatey package

[2019-10-19 12:23] ronaldtse commented on #35
@CAMOBAP795 OK, let's do that.

[2019-10-19 12:24] ronaldtse commented on #35
@CAMOBAP795 but we must fix LaTeXML chocolatey package first.

[2019-10-19 13:18] CAMOBAP795 commented on #35
@ronaldtse there is no issues reported for https://github.com/metanorma/chocolatey-latexml maybe you mean snap for LaTeXML (moving to GitHub actions)?

[2019-10-19 14:00] ronaldtse commented on #35
@CAMOBAP795 yes I got confused 😓  We need to fix the snap package to bring down the running times.

[2019-12-16 16:20] ronaldtse commented on #34
ping @CAMOBAP795

[2020-01-13 03:11] ronaldtse commented on #34
Ping @CAMOBAP795 , I've removed AppVeyor already.

[2020-02-02 18:48] CAMOBAP795 commented on #34
Not fixed yet, list of issues to fix:
 - [ ] 'metanorma' is not recognized as an internal or external command,
 - [ ] INFO: Could not find "xml2rfc".

[2020-02-10 11:05] opoudjis opened #38 "Integrate PDF setup into build script"
Integrate instructions from https://github.com/metanorma/mn-native-pdf/blob/master/README.adoc, as we are now integrating the functionality of that repository into metanorma

[2020-02-16 15:15] ronaldtse commented on #34
API key is now `secrets.CHOCOLATEY_API_KEY`.

[2020-02-17 11:23] CAMOBAP795 commented on #34
Merged

[2020-02-17 11:24] #34 closed

[2020-02-17 11:31] CAMOBAP795 commented on #35
@ronaldtse I know it's not a top priority but could you please create a repository `chocolatey-yq` (for https://github.com/mikefarah/yq) I will add it to chocolatey later

[2020-02-18 00:18] ronaldtse commented on #35
Actually, let's migrate away from `yq` because it is not a Metanorma dependency. I will create a new ticket for `metanorma-cli` that uses Ruby to incorporate the current `Makefile` functionality to replace `yq`.

[2020-03-02 01:36] opoudjis commented on #38
An essential component of this work is to identify the fonts directory on the current system to be used for PDF generation. The README in mn-native-pdf is mac only.

[2020-03-15 06:39] CAMOBAP795 commented on #35
closed based on the comment above

[2020-03-15 06:39] #35 closed

[2020-03-27 09:46] CAMOBAP795 commented on #32
Done

[2020-03-27 09:46] #32 closed

[2020-04-05 17:06] CAMOBAP795 commented on #38
@opoudjis @ronaldtse as far as I know globally we are going to replace `puppeteer` with https://github.com/metanorma/mn2pdf

And as far as I understood all needed fonts already available on windows. `mn2pdf` have internal logic for lookup fonts in the specific path on windows

As far as I understood we only need to download `mn2pdf.jar` in scope for chocolatey/homebrew/snap

Only one question from

[2020-04-05 17:39] ronaldtse commented on #38
I believe @opoudjis is planning to embed mn2pdf inside the metanorma-standoc gem.

1. Windows will need the Adobe Source Fonts (https://github.com/fontist/source-fonts), which [fontist](https://github.com/fontist/fontist) should install. These are installed separate from the gem because they are too large.

I noticed that you can use Chocolatey to install fonts, e.g.:
* [Source Code Pro Programmin

[2020-04-05 19:07] ronaldtse commented on #38
The metanorma specific fonts directory is `~/.metanorma/fonts`. The GHA workflows on mn-native-pdf already works for Mac Linux Windows.

[2020-04-06 13:40] CAMOBAP795 commented on #38
Probably make sens

As far as I understood both `Source Code Pro Programming Font` and `Source Han Code JP` are fonts from `Adobe Source Fonts` collection, @ronaldtse can you confirm this

If so, will https://github.com/fontist/fontist include all needed `Adobe Source Fonts`?

[2020-04-23 14:41] CAMOBAP795 commented on #38
Waiting for https://github.com/fontist/fontist/issues/5 to be able to install fonts with `metanorma setup`

[2020-04-27 09:40] CAMOBAP795 opened #42 "Error: Failed to launch the browser process! spawn C:\npm\prefix\node_modules\puppeteer\.local-chromium\win64-737027\chrome-win\chrome.exe ENOENT"
https://github.com/metanorma/mn-samples-un/pull/35/checks?check_run_id=611650211

[2020-04-27 09:49] CAMOBAP795 opened #43 "Move to python3"
[code]

[2020-04-27 14:35] CAMOBAP795 commented on #42
- https://github.com/puppeteer/puppeteer/issues/5662

During installation there is a strange line `System.Management.Automation.RemoteException`

[2020-04-27 14:38] CAMOBAP795 commented on #42
Previously we also had this line in past CI runs

[2020-04-28 09:02] CAMOBAP795 commented on #42
Can be related to this https://github.com/puppeteer/puppeteer/issues/5745

[2020-04-28 09:31] CAMOBAP795 commented on #42
At this point looks like downgrading to 2.1.1 the only option

[2020-04-28 10:53] CAMOBAP795 commented on #43
DOne

[2020-04-28 10:53] #43 closed

[2020-04-28 10:53] CAMOBAP795 commented on #42
Fixed with restriction of node 14, will be available in next release

[2020-04-28 10:53] #42 closed

[2020-05-15 14:17] CAMOBAP commented on #38
Done

[2020-05-15 14:17] #38 closed

[2020-05-16 08:06] CAMOBAP opened #46 "Metanorma cannot be installed after last release"
https://github.com/metanorma/hk-ogcio-infosec-docs/pull/27/checks?check_run_id=679680842

[code]

[2020-05-16 10:22] CAMOBAP commented on #46
cleary works with 1.2.11.001 https://github.com/metanorma/mn-samples-iso/pull/41/checks?check_run_id=680623002

[2020-05-16 13:15] CAMOBAP commented on #46
Highly likely related to this
<img width="1170" alt="Screen Shot 2020-05-16 at 4 08 49 PM" src="https://user-images.githubusercontent.com/2169738/82120536-9ab6a500-978f-11ea-9de7-a85d49e6ef5a.png">

For some reason on chocolatey-metanorma CI it can find msys2 reverting https://github.com/metanorma/chocolatey-metanorma/commit/7543916c26124b0a038e4eec486e44b71381a28e

[2020-05-16 20:44] CAMOBAP commented on #46
The fix tested on https://github.com/metanorma/mn-samples-iso/runs/681470657

[2020-05-16 20:44] #46 closed

[2020-06-08 21:46] CAMOBAP opened #47 "Add secrets.METANORMA_CI_PAT_TOKEN"
According to last run https://github.com/metanorma/chocolatey-metanorma/runs/751671464?check_suite_focus=true it looks like secrets.METANORMA_CI_PAT_TOKEN missing

@ronaldtse could you please have a look

[2020-06-09 04:15] ronaldtse commented on #47
It was because metanorma-ci user didn't have access, should be fixed now.

[2020-06-09 04:16] ronaldtse commented on #47
It's fixed. Closing.

[2020-06-09 04:16] #47 closed

[2020-08-14 19:38] ronaldtse opened #49 "Change to use packed-mn binary"
Use the latest single executable file for manageability and speed of installation.

[2020-09-14 17:56] CAMOBAP opened #51 "Improve testing procedure to test over all mn-sample-* repos"

[2020-09-15 04:29] #49 closed

[2020-09-30 09:39] CAMOBAP commented on #51
Done

[2020-09-30 09:39] #51 closed

[2020-10-24 17:14] CAMOBAP opened #53 "imagemagick.tool (exited 404)"
All samples repos failing for windows:

Full log https://github.com/metanorma/ogc-tcpnp/runs/1302596947?check_suite_focus=true

[2020-10-24 19:37] CAMOBAP commented on #53
`chocolatey.tool` broken https://chocolatey.org/packages/imagemagick.tool#versionhistory (datils in the comments for the link)

we don't have this dependency anymore because latexml removed from the dependency list

we need a new release

[2020-10-25 17:29] ronaldtse commented on #53
Thanks @CAMOBAP for following this up!

[2020-10-26 09:30] CAMOBAP commented on #53
New version is released

[2020-10-26 09:30] #53 closed

[2021-03-11 14:20] ronaldtse opened #54 "Verify Chocolatey installation on Windows succeed"
A user has reported that Chocolatey installation on Windows failed with the message "Error: specified file setup doesn't exists".

![image](https://user-images.githubusercontent.com/11865/110801322-14d48f00-82b8-11eb-82dd-3d92b2450cbc.png)

[2021-03-11 16:32] ronaldtse commented on #54
@CAMOBAP says the error can be safely ignored since it was remnant from the previous `metanorma setup` command which has been superseded by default behavior.

[2021-03-11 16:41] CAMOBAP commented on #54
Release on the way

[2021-03-11 18:32] CAMOBAP commented on #54
1.4.5.1 - approved

[2021-03-11 18:32] #54 closed

[2021-03-29 08:40] CAMOBAP opened #55 "Add FREEDESKTOP_MIME_TYPES_PATH with path to freedesktop.org.xml"
- https://github.com/metanorma/packed-mn/pull/87

[2021-03-29 12:07] CAMOBAP commented on #55
Will be fixed my migration to looking at https://github.com/rails/marcel from mimemagic

[2021-03-29 12:07] #55 closed

[2021-05-28 16:04] CAMOBAP opened #56 "1.4.9 release failed"
https://github.com/metanorma/chocolatey-metanorma/runs/2685255782?check_suite_focus=true

[2021-06-02 08:52] CAMOBAP commented on #56
A temporal workaround applied, long term fix will be implemented in the scope of https://github.com/metanorma/packed-mn/issues/100

[2021-09-20 17:09] CAMOBAP opened #57 "Find proper test environemnt"
After https://github.com/metanorma/packed-mn/issues/118 it looks like GitHub Actions test environment can hide some issues. Mostly because a lot of preinstalled software

Possible solutions:
 - [ ] check environment where chocolatey's pre-publish tests executes https://community.chocolatey.org/courses/creating-chocolatey-packages/building-testing-and-pushing, and review possibilities to run custom

[2021-09-20 17:14] CAMOBAP opened #58 "The package script downloads a file outside of using built-in helpers. Scripts should use the built-in helpers to download files"
Fix warning https://docs.chocolatey.org/en-us/community-repository/moderation/package-validator/rules/cpmr0055

[2021-09-21 04:45] ronaldtse commented on #57
The available Windows runners are here:
https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners

I believe it is possible to run Docker Windows containers on these runners so that we have a clean environment to start.

[2021-09-21 06:34] CAMOBAP commented on #57
Really nice finding I never thought in this direction, thanks @ronaldtse

[2021-09-21 06:39] ronaldtse commented on #57
Running Docker Window images: https://github.com/docker/labs/blob/master/windows/windows-containers/WindowsContainers.md

[2021-09-21 11:15] CAMOBAP commented on #58
Faced with issue https://github.com/chocolatey/choco/issues/1422

[2021-09-22 16:36] CAMOBAP commented on #58
Done

[2021-09-22 16:36] #58 closed

[2021-09-22 16:36] CAMOBAP commented on #57
Done

[2021-09-22 16:36] #57 closed

[2021-10-08 05:25] ronaldtse opened #61 "Chocolatey package held in review due to too many false virus detection positives"
https://community.chocolatey.org/packages/metanorma/1.4.17.20211007#virus
<img width="955" alt="Screenshot 2021-10-08 at 11 42 06 AM" src="https://user-images.githubusercontent.com/11865/136494632-cf0d13ab-2cba-4286-b396-c949de313294.png">

Because our score is either 7 or 8 (tried a couple runs on virustotal.com), it is automatically held up preventing release:
https://www.virustotal.com/gui/file

[2021-10-08 05:30] ronaldtse commented on #61
* edicon.exe: https://github.com/larsch/ocra/blob/master/src/edicon.c
* lzma.exe: https://github.com/larsch/ocra/blob/master/share/ocra/lzma.exe
* stub.exe: https://github.com/larsch/ocra/blob/master/src/stub.c
* stubw.exe: same as stub.exe but built with `-mwindows` flag instead of `-D_CONSOLE` flag.

[2021-10-08 05:31] ronaldtse commented on #61
All of these files are from Ocra. Maybe some malicious executables are built with Ocra, and the Ocra files get tagged?

[2021-10-08 05:32] CAMOBAP commented on #61
@ronaldtse probably, let me check

[2021-10-08 05:45] ronaldtse commented on #61
Found the offending `chm` file:
https://github.com/kyz/libmspack/blob/master/libmspack/test/test_files/chmd/cve-2017-6419-lzx-negative-spaninfo.chm

This file is provided in libmspack which is included via the ruby-libmspack gem (https://github.com/davispuh/ruby-libmspack)

[2021-10-10 08:42] CAMOBAP opened #62 "Check benefits of winget vs chocolatey"
https://github.com/microsoft/winget-pkgs

cc @ronaldtse

[2021-10-10 09:16] ronaldtse commented on #62
So it has to be an installation package.

[2021-10-11 03:18] ronaldtse commented on #62
@CAMOBAP we can wrap metanorma in an installation package using MSIX (https://github.com/microsoft/msix-packaging), which also allows us to code sign the package.

[2021-11-05 04:32] ronaldtse opened #64 "Chocolatey package failing automated review"
Looks like Chocolatey has updated their automated validation. @CAMOBAP can you help address this? Thanks!

[2021-11-06 19:57] CAMOBAP commented on #61
@ronaldtse It doesn't look like we can do anything about it. We cannot get rid of `lzma.exe` because it used for decompression.

Regarding `cve-2017-6419-lzx-negative-spaninfo.chm` we can just remove it from installed gem before `ocra` run. But this is a probably single what we can done

[2021-11-07 04:18] ronaldtse commented on #61
@CAMOBAP we will be able to resolve the issues with Orca when we switch to Tebako.

However for libmspack - why does this test file get into ruby-libmspack gem? Only the compiled artifact (only the `.so` file?) should be included in the ruby-libmspack gem.

[2021-11-09 07:41] CAMOBAP commented on #64
I got some feedback from moderators:
 - [ ] update licenseUrl
 - [ ] update projectSourceUrl to packed-mn
 - [ ] remove idnits code
 - [ ] add idnits chocolatey package

@ronaldtse I need your opinion/suggestion about `idnits` because we had installation logic of it, but I never checked an actuall content of this package. The idnits contains only unix executable without windows `exe` one. And it w

[2021-11-09 09:33] ronaldtse commented on #64
@CAMOBAP we can remove idnits. Idnits is no longer invoked by Metanorma directly now. Thanks!

[2021-11-14 08:24] CAMOBAP commented on #64
still waiting for Admins to reply...

[2021-11-15 08:29] CAMOBAP commented on #64
Admins replied, they force us to do an investigation about virus scanning first and add not about results to package description:

I have never been faced with a such task before so this is an interesting task for me.

But because all issues depend on OCRA and we have plans to move out of OCRA, I would like to confirm this first, @ronaldtse do we need to investigate it at all, or maybe invest time

[2021-11-15 08:41] ronaldtse commented on #64
The VirusTotal scores are rather arbitrary, incorporating numerous no-name antivirus engines with false positives. As we all know, quantity does not best quality.

We already have this ticket: https://github.com/metanorma/chocolatey-metanorma/issues/61

Moving out of Orca to Tebako takes time, at least 2 months. There does not seem to be "another packer" for Windows. (ping @maxirmx )

Since VirusT

[2021-11-15 08:47] ronaldtse commented on #61
As requested here by the Chocolatey admins of our package, https://github.com/metanorma/chocolatey-metanorma/issues/64#issuecomment-968648048

## False positives

All "positives" at VirusTotal for the Metanorma package are false positives from no-name branded anti-virus engines: Antiy-AVL, DrWeb, Ikarus, NANO-Antivirus, SecureAge APEX, Gridinsoft, Jiangmin, VBA32. Frankly these engines sound more

[2021-11-15 08:47] ronaldtse commented on #64
@CAMOBAP please update our package description with this link, and ask the Chocolatey package admins to see if they would accept this: https://github.com/metanorma/chocolatey-metanorma/issues/61#issuecomment-968661076 . Thanks.

[2021-11-15 09:01] CAMOBAP commented on #61
We need to post it somewhere on metanorma.com and add a link to its description

Also, I ould not say that: DrWeb, SecureAge APEX, VBA32 are 'no-name' ones, I have used them all in different period of time where I was a windows user

[2021-11-15 09:02] CAMOBAP commented on #61
I will update description

[2021-11-15 11:53] CAMOBAP commented on #61
Resubmited

[2021-11-18 08:49] CAMOBAP commented on #64
@ronaldtse regarding https://github.com/metanorma/iso-19135/runs/4248559823?check_suite_focus=true

ERROR: Cannot index into a null array. - this happens because changes in idnits-2.16.02.tgz archive structure

Because we already removed it, this issue will be fixed in new release once it will be approved by admins

[2021-11-18 08:54] ronaldtse commented on #64
@CAMOBAP do you think Winget gives us more freedom here? Chocolatey seems rather slow in administrative issues.

[2021-11-18 08:57] ronaldtse commented on #64
https://github.com/metanorma/winget-metanorma/issues/1

[2021-11-18 08:59] CAMOBAP commented on #64
A good question to be honest IDK.

This started happens after the introduction of virus check

https://community.chocolatey.org/packages/metanorma/1.5.2

I think we need to move out of OCRA first, because it behaves really suspiciously, it contains binary in the repository which we cannot control, ruby-packer is more transparent to me because we are building it on our own. Also it seems much faste

[2021-11-20 08:40] CAMOBAP commented on #64
https://ch0.co/moderation - here is  a global review queue

A few more points need to be fixed:
 - [ ] Checksums are required for downloads.
 - [ ] Packages are not allowed modify anything in $env:ChocolateyInstall, with the exception of files inside the package install directory ($env:chocolateyinstall\lib\&lt;package id&gt;) . So please do not download the file to the bin directory. Instead, dow

[2021-11-20 09:23] ronaldtse commented on #64
We can just use https://statically.io/convert/ to get a CDN link for our logo.

[2021-11-20 10:30] CAMOBAP commented on #61
VirusScan doesn't a problem anymore

[2021-11-20 10:30] #61 closed

[2021-11-20 13:40] CAMOBAP commented on #64
Updated package pushed to chocolatey, waiting for review

[2021-11-21 07:30] CAMOBAP commented on #64
1.5.2 was approved

[2021-11-21 07:30] #64 closed

[2021-12-16 09:28] CAMOBAP opened #66 "1.5.4 new virus issues"
https://community.chocolatey.org/packages/metanorma/1.5.4/

[2021-12-16 09:44] ronaldtse commented on #66
Wow this is painful 😉

https://www.virustotal.com/gui/file/3894e66aa4aef6e71ea83865021aff61450c1ab8a9f137baf1e671ecf58a94c0/detection/f-3894e66aa4aef6e71ea83865021aff61450c1ab8a9f137baf1e671ecf58a94c0-1639500884

<img width="848" alt="Screenshot 2021-12-16 at 5 44 07 PM" src="https://user-images.githubusercontent.com/11865/146347504-83e4a4cd-f4a5-43a6-8977-9f6c96372ad2.png">

[2021-12-16 09:55] ronaldtse commented on #66
VirusTotal changed their interface and I can't see what exactly those engines are complaining about.

I do know that the CHM files are still being copied and they must trigger some issue:
https://www.virustotal.com/gui/file/3894e66aa4aef6e71ea83865021aff61450c1ab8a9f137baf1e671ecf58a94c0/behavior/VirusTotal%20Observer

<img width="1032" alt="Screenshot 2021-12-16 at 5 54 13 PM" src="https://user-i

[2021-12-16 10:29] CAMOBAP commented on #66
@CAMOBAP great idea, btw also I replied to admins to pass because there is no new issues actually

[2022-01-11 10:58] CAMOBAP opened #67 "Wrong metanorma.exe download url for `-pre` packages"
### Intro

During https://github.com/actions-mn/setup/issues/5 was observed that our `-pre` packages are broken because they looks for:
https://github.com/metanorma/packed-mn/releases/download/v1.5.4-pre/metanorma-windows-x64.exe instead https://github.com/metanorma/packed-mn/releases/download/v1.5.4pre/metanorma-windows-x64.exe

[2022-01-11 12:14] CAMOBAP commented on #67
Fixed

[2022-01-11 12:14] #67 closed

[2022-02-15 12:54] ronaldtse opened #69 "Report to ruby-libmspack that CVE CHM test files should not be included"
VirusTotal changed their interface and I can't see what exactly those engines are complaining about.

I do know that the CHM files are still being copied and they must trigger some issue:
https://www.virustotal.com/gui/file/3894e66aa4aef6e71ea83865021aff61450c1ab8a9f137baf1e671ecf58a94c0/behavior/VirusTotal%20Observer

<img width="1032" alt="Screenshot 2021-12-16 at 5 54 13 PM" src="https://user-i

[2022-02-15 12:54] ronaldtse commented on #69
@CAMOBAP can you help create a PR to ruby-libmspack for this? Thanks!

[2022-02-15 12:55] ronaldtse commented on #69
FYI @maxirmx

[2022-02-15 18:19] maxirmx commented on #69
This look like a list of libmspack vulnerabilities
https://nvd.nist.gov/vuln/detail/CVE-2015-4468
https://nvd.nist.gov/vuln/detail/CVE-2015-4469
https://nvd.nist.gov/vuln/detail/CVE-2015-4472
https://nvd.nist.gov/vuln/detail/CVE-2017-6419

[2022-02-15 18:22] ronaldtse commented on #69
Yes these are actually test files for libmspack, and should not have been included in the ruby-libmspack gem. We just need to do a PR to address https://github.com/davispuh/ruby-libmspack/issues/2 .

[2022-03-05 07:39] ronaldtse commented on #69
I have submitted a PR to fix this now at davispuh/ruby-libmspack#3. Once that is merged we can rebuild.

[2022-03-05 07:39] #69 closed

[2022-04-30 11:49] CAMOBAP opened #70 "Urgent broken url update logic & local tests testing last published version of metanroma"
subj

[2022-05-04 10:18] ronaldtse commented on #62
Let's continue over at https://github.com/metanorma/packed-mn/issues/159

[2022-05-04 10:18] #62 closed

[2022-05-04 13:42] CAMOBAP commented on #70
Done

[2022-11-17 10:42] CAMOBAP opened #72 "- jre8 (exited 404) - Error while running 'C:\ProgramData\chocolatey\lib\jre8\tools\chocolateyInstall.ps1'."
- https://github.com/actions-mn/build-and-publish/actions/runs/3486977973/jobs/5834615721
 - https://github.com/metanorma/chocolatey-metanorma/actions/runs/3434755533/jobs/5835098692

[2022-11-18 09:37] CAMOBAP commented on #72
Resolved by Oracle

[2022-11-18 09:37] #72 closed